@charset "utf-8";
h1 {
	padding: 30px; /*文字の余白*/
}

h4 {
	padding: 30px;
}

.yohaku-area {
	padding: 120px;
}

.yokonarabi-area {
	display: inline-block;
}

.tyuo-area {
	text-align: center;
}

.mini-yohaku-area {
	padding: 30px;
}
.yohaku70-area{
	padding: 70px;
}

.yohaku10-area {
	padding: 10px;
}
.dekaimoji{
	font-size:200%
}

.dekaiyohaku{
	padding: 200px;
}

.img-icon {
	max-height: 50px;
}

.icon{
	width: 200px;
	boxsizing: contain;
}

body {
	background-repeat:no-repeat;
	background-size: cover;
	background-image: url("../../img/1433277142-891666-kittens-with-blue-eyes-pgB2-1536x864-MM-100 - コピー.jpg");
	background-color :#a9a9a9;
	/* background-image: url("../../gif/");
 */
}

